<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    </head>
<body>
	<div class="header">
		<div class="left">
		</div>
		<div class="center">
			<a>&nbsp</a>
				<div class="notifications">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<p>{{ message }}</p>
					{% endfor %}
				{% else %}
				<p>-</p>
				{% endif %}
				{% endwith %}
			</div>
		</div>		
		<div class="right">
			<h3> {{username}}<br> <a href="/logout">Log out</a></h3>
		</div>
	</div>

  <div class="container">
    Flag is QwertyAsdfghZxcvb123      
    </div>
</body>
</html>